<!DOCTYPE html>
<html>
    <head>
        <title>Yelp Camp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> RESTful Blog</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/blogs">Home</a></li>  
                <li><a href="/blogs/new">New Post</a></li> 
            </ul>
        </div>
    </nav>