<% include partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 border">
            <h2>Creating new post</h2>
            <form action="/blogs" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" id="title" type="text" name="blog[title]" placeholder="title">
                </div>
                <div class="form-group">
                    <label for="image">Image Url</label>
                    <input class="form-control" id="image" type="text" name="blog[image]" placeholder="image">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="5" placeholder="Blog's Content Goes Here" name="blog[content]"></textarea>
                </div>
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
    
</div>
    
<% include partials/footer.ejs %>